.contacts-section {
  position: relative;
  background-color: @basic-dark-navy;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 320px;
  margin-bottom: -30px;
  z-index: 2;

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
}

.contacts-section__block {
  padding: 100px 0 35px 0;
}

.contacts-section__title {
  text-align: center;
  padding-bottom: 19px;
}

.contacts-section__description,
.contacts-section__question {
  font-size: 16px;
  line-height: 22px;
  font-family: "Bloger Sans Lighter";
  color: @white;
  text-align: center;
}

.contacts-section__description {
  padding: 0 35px 29px 35px;
}

.contacts-section__description-link {
  color: @basic-yellow;
  border-bottom: 1px solid @basic-yellow;

  &:hover {
    color: @special-orange;
    border-bottom: 1px solid @special-orange;
  }

  &:active {
    color: @special-orange;
    border-bottom: 1px solid @special-orange;
    opacity: 0.3;
  }
}

.contacts-section__form {
  padding-bottom: 29px;
}

.contacts-section__question {
  padding: 0 20px 17px 20px;
}

.contacts-section__list a {
  line-height: 22px;
  color: @basic-yellow;

  &:hover {
    color: @special-yellow-dark;

    path {
      fill: @special-yellow-dark;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

// Form 

.contacts-section__form {
  // display: flex;
  // justify-content: flex-start;
}

.contacts-section__form input[type="email"] {
  font-size: 18px;
  line-height: 18px;
  font-family: "Bloger Sans Bold";
  color: @special-grey;
  box-sizing: border-box;
  width: 225px;
  padding: 21px 20px 20px 25px;
  border-width: 0;
  border: none;
  outline: none;
  border-radius: 10px;
  margin: 11px 20px 13px 0;
}

.contacts-section__form-button {
  position: relative;
  padding: 22px 24px;
  background-color: @basic-yellow;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  margin-left: -45px;
  z-index: 1;
}

.contacts-section__form input[type="email"]:hover {
  background-color: @basic-grey;
}

.contacts-section__form input[type="email"]:active {
  border: 2px solid @white;
  background-color: @basic-dark-navy;
}