.country-section {
  position: relative;
  background-color: @basic-grey;
  background-position: top center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-bottom: -30px;
  z-index: 5;

  ul {
    list-style: none;
    padding-left: 0;
  }
}

.country-section__block-wrapper {
  .wrapper();
  padding: 0 50px;
}

.country-section__wrapper {
  .wrapper();
}

.country-section__block {
  padding: 91px 0 35px;
}

.country-section__title {
  margin: 0;
  padding-bottom: 19px;
}

.country-section__description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: @special-grey;
  margin: 0;
  width: 200px;
}
