.country-section {
  background-color: @basic-grey;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 320px;

  ul {
    list-style: none;
    padding: 0;
    padding-bottom: 14px;
  }
}

.country-section__block {
  padding: 71px 0 50px 0;
}

.country-section__title {
  margin: 0;
  padding: 0 101px 19px 25px;
}

.country-section__description {
  font-size: 16px;
  line-height: 22px;
  padding: 0 45px 60px 25px;
  font-family: "Bloger Sans Lighter";
  color: @special-grey;
  margin: 0;
}
