.day-picker__weekly {
  display: flex;
  justify-content: center;
}

.day-picker__item button {
  width: 33px;
  height: 32px;
  font-size: 14px;
  line-height: 18px;
  font-family: inherit;
  font-weight: 400;
  border: 1px solid @special-grey-border;
  box-sizing: border-box;
}

.day-picker__item.day-picker__item--disabled button {
  color: @special-grey;
  background-color: @white;
  opacity: 0.3;
}

.day-picker__item--chosen button {
  background-color: @basic-blue-light;
  color: @white;
}

// .day-picker__item--current {
//   // border: 2px solid red;
// }

.day-picker__item.day-picker__item--next button {
  font-weight: 500;
  color: @basic-blue-light;
  background-color: @special-grey-background;
}

.weekday-picker__item.weekday-picker__item--weekend button {
  color: @red;
}
