.dropdown__content {
  // display: none;
  margin-top: -22px;
  margin-bottom: 20px;
}

.dropdown__content-list-countries {
  padding: 20px;
}

// Letters

.dropdown__content-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

.dropdown__content-item button {
  width: 44px;
  height: 41px;
  font-size: 14px;
  line-height: 18px;
  font-family: inherit;
  font-weight: 400;
  border: 1px solid @special-grey-border;
  background-color: transparent;
  padding: 0;
}

// Coгntries

.dropdown__content-name button {
  font-size: 16px;
  line-height: 22px;
  font-family: inherit;
  font-weight: 400;
  color: @special-grey;
  border: none;
  background-color: transparent;
  padding: 0 19px;
}

.dropdown__content-item--current {
  background-color: @special-grey-background;
}

.dropdown__content-country li {
  padding-bottom: 4px;
}