.dropdown-button {
  position: relative;

  button {
    margin-bottom: 23px;
  }
}

.dropdown-button__button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: left;

  // downmenu dot

  &::after {
    content: "";
    position: relative;
    top: 19px;
    left: -60px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid @special-grey-border;
    box-sizing: border-box;
    background-color: @white;
  }
}

.dropdown-button__button-text {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @basic-blue-light;
  border: 1px solid @special-grey-border;
  border-radius: 4px;
  padding: 12px 7px 10px 11px;
  background-color: @white;
  text-transform: uppercase;
  white-space: nowrap;
  display: flex;
  width: 200px;

  &:hover {
    border: 1px solid @grey-qty-hov;
  }

  // downmenu arrow

  &::after {
    content: "";
    position: relative;
    top: 4px;
    left: 45px;
    width: 20px;
    height: 20px;
    background: url("../../img/dropdown-arrow.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
  }
}
