.entertainment-list__title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: @basic-blue-light;
  padding-left: 10px;
}

.entertainment-list__item-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
}

.entertainment-list {
  padding-bottom: 16px;

  li {
    padding-bottom: 20px;
  
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.entertainment-list__textarea {
  position: relative;
  width: 100%;
  height: 220px;
  resize: none;
  border: 1px solid @special-grey-border;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: @special-grey;
  padding: 10px 14px;

  &:last-child {
    margin-bottom: 0;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: @special-grey;
    opacity: 0.3;

    &:focus::placeholder {
      opacity: 1;           //   Не совсемя поняла как изменить непрозрачность при hover 
    }
  }

  &:hover {
    border: 1px solid @grey-qty-hov;
  }

  &:focus {
    border: 1px solid @basic-blue;
  }
}

// Vertical line

.entertainment-list__item {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 2px;
    top: 11px;
    left: -14px;
    bottom: -10px;
    background-color: @basic-blue;
  }

  &:last-child::after {       
    display: none;
  }
}

// Horizontal line

.entertainment-list__item label {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 12px;
    top: 7px;
    left: -14px;
    border-bottom: 2px solid @basic-blue;
  }

  &::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 6px;
    left: -5px;
    border-radius: 50%;
    background-color: @basic-blue;
  }
}

// Horizontal buttons

// .entertainment-list__item label {
//   position: relative;

//   &::before {
//     content: "";
//     position: absolute;
//     width: 6px;
//     height: 6px;
//     top: 20px;
//     left: 140px;
//     border-radius: 50%;
//     border-color: @basic-blue;
//   }
// }
