.form-button {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  font-family: inherit;
  color: @basic-blue-light;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-top: 22px;
}

.form-button--forwards {
  background-color: @basic-yellow;
  border-radius: 20px;
  padding: 7px 10px;
}