.form-plans {
  position: relative;
  background-color: @special-background-grey;
  background-position: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -30px;
  z-index: 2;

  ol {
    padding-left: 0;
    margin: 0;
  }
}

.form-plans__block {
  padding: 28px 0 59px;
}

.form-plans__list {
  position: relative;
  counter-reset: list1;

  li {
    list-style-type: none;
    display: flex;

    &::before {
      counter-increment: list1;
      content: counter(list1) ". ";
      color: @basic-blue-light;
    }
  }
}

.form-plans__wrapper {
  .wrapper();
}

.form-plans__title {
  padding-bottom: 28px;
}

.form-plans__item-title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: @basic-blue-light;
  padding-bottom: 20px;
  padding-left: 5px;
}

.form-plans__description {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: @basic-blue-light;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-left: -10px;
  letter-spacing: 0.06em;

  &:last-child {
    padding-bottom: 24px;
  }
}

.form-plans__item {
  padding: 24px 24px 20px 24px;
  background-color: @white;
  border-radius: 10px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-plans__item-block {
  // margin-bottom: 24px;
}

.form-plans__link {
  color: @black;
  opacity: 0.3;
  text-transform: uppercase;
  margin-left: -10px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}
