.intro-section {
  background-image: url("../img/globe-back-mobile.jpg");
  background-repeat: no-repeat;
  background-color: @basic-blue;
  background-position: top center;

  @media (min-width: @tablet-width) {
    background-image: none;
    background-color: @basic-blue-tblt;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../../img/globe-back-desktop.png");
    background-repeat: no-repeat;
    padding-bottom: 110px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    background-color: @basic-blue;
  }
}

.intro-section__block-wrapper {
  .wrapper();

  @media (min-width: @tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: @desktop-width) {
    width: 418px;
    padding: 0 0 0 127px;
    margin: 0;
  }
}

.intro-section__block {
  position: relative;
  z-index: 8;

  &::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 255px;
    bottom: 0;
    left: 105px;
    background-image: url('../img/traveller-mobile.png');
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      width: 372px;
      height: 451px;
      left: 285px;
      top: 405px;
      background-image: url("../img/traveller-tablet.png");
      background-repeat: no-repeat;
    }

    @media (min-width: @desktop-width) {
      width: 430px;
      height: 640px;
      left: 600px;
      top: -105px;
      background-image: url("../img/traveller-desktop.png");
      background-repeat: no-repeat;
      }
  }

  // @media (min-width: @desktop-width) {
  //   padding-bottom: 500px;
  // }
}

.intro-section__blocks {
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 209px;
    // padding: 209px 83px 0 127px;
  }
}

.intro-section__slogan {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: @white;
  text-align: center;
  padding-top: 95px;
  padding-bottom: 260px;
  margin: 0;

  @media (min-width: @tablet-width) {
    order: 2;
    font-size: 60px;
    line-height: 70px;
    padding-top: 162px;
    padding-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}

// Review section

.intro-section__review-wrapper {
  .wrapper();
  padding: 0 50px;

  @media (min-width: @tablet-width) {
    padding: 0 40px 0 72px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0 83px 0 0;
    width: 364px;
  }
}

.intro-section__review {
  position: relative;
  background-color: @basic-blue;
  padding: 48px 0 110px;
  margin-bottom: -80px;

  p {
    font-size: 16px;
    line-height: 22px;
    color: @white;
    margin: 0;
    max-width: 170px;

    @media (min-width: @tablet-width) {
      max-width: 260px;

      &:first-child {
        font-size: 28px;
        line-height: 33px;
        font-weight: 300;
      }

      &:last-child {
        font-size: 21px;
        line-height: 25px;
        font-weight: 700;
      }
    }

    @media (min-width: @desktop-width) {
      max-width: 260px;
    }
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/globe-back-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    padding: 76px 0 344px 0;
    margin-bottom: -106px;
    // background-color: @basic-blue-tblt;       uncomment later
  }

  @media (min-width: @desktop-width) {
    background-image: none;
    padding: 0;
    margin: 0;
    display: inline;
    background-color: transparent;
  }
}

.intro-section__review-text {
  padding-bottom: 18px;
  font-weight: 300;

  @media (min-width: @desktop-width) {
    padding-bottom: 45px;
  }
}

.intro-section__review-author {
  font-weight: 700;
}

// Steps

.intro-section__steps-wrapper {
  .wrapper();

  .intro-section__steps {
    background-color: @basic-dark-navy;
  
    ol {
      padding-left: 0;
    }

    @media (min-width: @desktop-width) {
      background-color: transparent;
    }
  }

  @media (min-width: @tablet-width) {
    min-width: 768px;
    padding: 0 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 60px;
    width: 1440px;
  }
}

.intro-section__steps-block {
  position: relative;
  z-index: 8;
  padding-bottom: 39px;
  margin: 0;
  counter-reset: list1;

  li {
    list-style-type: none;
    margin-top: -14px;
    display: flex;
    justify-content: space-between;

    &::after {
      counter-increment: list1;
      content: counter(list1);
      right: 0;
      color: @white;
      padding-left: 30px;

      @media (min-width: @tablet-width) {
        margin-right: 60px;
      }

      @media (min-width: @desktop-width) {
        margin-right: 64px;

        &:last-child {
          margin-right: 34px;
        }
      }
    }

    @media (min-width: @tablet-width) {
      margin-right: -32px;
      margin-top: 0;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 0 0 0;
  }
}

.intro-section__item {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @basic-blue;
  padding: 22px 20px 36px 24px;
  border-radius: 10px;

  &:last-child {
    padding: 22px 20px 23px 24px;

    @media (min-width: @tablet-width) {
      padding: 22px 20px 23px 24px;
    }

    @media (min-width: @desktop-width) {
      padding: 22px 10px 36px 24px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 24px;
    line-height: 24px;
    border-radius: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 30px 6px 30px 34px;
    border-radius: 20px;
  }
}

.intro-section__item--special-orange {
  background-color: @special-orange;

  @media (min-width: @tablet-width) {
    width: 323px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}

.intro-section__item--orange {
  background-color: @basic-orange;

  @media (min-width: @tablet-width) {
    width: 310px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
}

.intro-section__item--special-yellow {
  background-color: @special-yellow-dark;

  @media (min-width: @tablet-width) {
    width: 323px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.intro-section__item--yellow {
  background-color: @basic-yellow;

  @media (min-width: @tablet-width) {
    width: 310px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
