.main-nav {
  height: 568px;
  width: 320px;
  display: none;
  background-color: yellow;
  

  ul {
    list-style: none;
    padding: 0;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 10px;
  right: 25px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;

  &::before,
  &::after {
    position: absolute;
    top: 10px;
    right: 0;
    width: 19px;
    height: 3px;
    background-color: @grey;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
