.planning-list__item {
  padding: 25px 25px 17px 25px;
  background-color: @white;
  border-radius: 10px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.planning-list__title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: @basic-blue-light;
  margin: 0;
  padding-bottom: 16px;
}

.planning-list__description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: @special-grey;
  padding-bottom: 20px;
}

.planning-list__text {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: @basic-blue-light;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.planning-list__input {
  display: flex;
  justify-content: center;
  padding: 15px 14px;
  border: 1px solid @special-grey-border;
  border-radius: 4px;
  margin-bottom: 20px;

  &:hover {
    border: 1px solid @grey-qty-hov;
  }

  &:active {
    border: 1px solid @basic-blue;
  }
}

.planning-list__input-input {
  text-align: center;
  border: none;
}

.planning-list__button {
  border: none;
  display: flex;
  align-items: center;
  background-color: @white;
}

.planning-list__button-sign:hover {
  stroke: @grey-qty-hov;
}

.planning-list__button-sign:active {
  stroke: @basic-blue;
}

.planning-list__checkbox {
  padding-bottom: 28px;
  cursor: pointer;
  user-select: none;

  label {
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    color: @basic-blue-light;
  }
}

// checkbox

.planning-list__checkbox-checkbox + label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 33px;
  width: 46px;
  height: 46px;
  background-image: url("../../img/checkbox_off.svg");
  background-repeat: no-repeat;
  // background-position: 0 0;
  // opacity: 0.7;
}

// .planning-list__checkbox-checkbox:hover + label::before {
//   opacity: 1;
// }

// checkmark

.planning-list__checkbox-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -33px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkedbox.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.7;
}

.planning-list__checkbox-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -28px;
  width: 20px;
  height: 20px;
  background-image: url("../img/checkmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.7;
}

.planning-list__checkbox-checkbox:checked:hover + label::before {
  opacity: 1;
}

.planning-list__checkbox-checkbox:checked:hover + label::after {
  opacity: 1;
}

input[type="checkbox"]:focus + label::before {
  // outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
