.planning-list__item {
  padding: 24px 25px 17px 25px;
  background-color: @white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-bottom: 23px;

  &:last-child {
    margin-bottom: 0;
  }
}

.planning-list__step label {
  display: flex;
  justify-content: space-between;
}

.planning-list__title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: @basic-blue-light;
  margin: 0;
  padding-bottom: 15px;
}

.planning-list__description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: @special-grey;
  padding-bottom: 20px;
}

.planning-list__text {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: @basic-blue-light;
  text-transform: uppercase;
  padding-bottom: 7px;
  letter-spacing: 0.09em;
}

.planning-list__input {
  display: flex;
  justify-content: center;
  padding: 12px 14px;
  border: 1px solid @special-grey-border;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 21px;

  &:hover {
    border: 1px solid @grey-qty-hov;
  }

  &:active {
    border: 1px solid @basic-blue;
  }

  // &:last-child {
  //   margin-bottom: 21px;
  // }
}

.planning-list__input-input {
  text-align: center;
  border: none;
}

.planning-list__button {
  border: none;
  display: flex;
  align-items: center;
  background-color: @white;

  &:hover path {
    fill: @grey-qty-hov;            // fix the problem later 
  }

  &:active path {
    stroke: @basic-blue;           // fix the problem later
  }
}

.planning-list__checkbox {
  padding-bottom: 27px;
  cursor: pointer;
  user-select: none;
  position: relative;
  padding-top: 5px;

  label {
    font-size: 15px;
    line-height: 15px;
    font-weight: 400;
    color: @basic-blue-light;
    padding-left: 40px;
  }
}

// Checkbox

.planning-list__checkbox-block + label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 1px;
  width: 26px;
  height: 26px;
  background-image: url("../../img/checkbox_off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  scale: none;
  margin-top: 5px;

}

.planning-list__checkbox-block:hover + label::before {
  background-image: url("../../img/checkbox_off_hover.svg");
  scale: none;
}

.planning-list__checkbox-block:active + label::before {
  background-image: url("../../img/checkbox_off_active.svg");
}

// checkmark

.planning-list__checkbox-block:checked + label::before {
  background-image: url("../../img/checkedbox.svg");
}

.planning-list__checkbox-block:checked:active + label::before {
  background-image: url("../../img/checkedbox.svg");
}

// input[type="checkbox"]:focus + label::before {
//   // outline: thin dotted;
//   outline: 5px auto -webkit-focus-ring-color;
// }

.planning-list__country {
  position: relative;
}
