.profile-user {
  display: flex;
  // padding-right: 5px;
  padding-bottom: 13px;
}

.profile-user__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: @basic-blue-light;
  padding-right: 80px;
  margin-left: -30px;
}
