.section-button {
  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @basic-blue-light;
  padding: 21px 23px 21px 23px;
  display: block;
  border-radius: 10px;
  background-color: @basic-yellow;
  
  &:hover {
    background-color: @special-yellow-dark;
  }
    
  &:active {
    color: @basic-blue-light;
    opacity: .3;
  }
}
  
.section-button svg {
  vertical-align: middle;
  margin-left: 99px;
}
