.service-section {
  position: relative;
  background-image: url('../../img/about-service-mobile.png');
  background-color: @basic-dark-navy;
  background-repeat: no-repeat;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 320px;
  margin-bottom: -30px;
  z-index: 6;
}

.service-section__block {
  padding: 33px 60px 65px 49px;

  p {
    font-size: 16px;
    line-height: 22px;
    color: @white;
    margin: 0;
  }
}

.service-section__title {
  padding-bottom: 19px;
}

.service-section__description {
  padding-bottom: 18px;
  font-family: "Bloger Sans Lighter";
}

.service-section__description--bold {
  font-family: "Bloger Sans Bold";
}

