.site-list {
  text-align: center;
}

.site-list__item a {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 35px;
  font-family: "Bloger Sans Medium";
  color: @basic-dark-navy;

  &:hover {
    color: @basic-yellow;
  }

  &:active {
    color: @basic-yellow;
    opacity: .3;
  }
}


