.user-block {
  text-align: center;
}

.user-block a {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  color: var(--basic-blue);
  background-color: var(--basic-yellow);
  border-radius: 30px;
}

.user-block__link--menu {
  padding: 11px 81px 9px 78px;
}
