.user-block {
  text-align: center;
}

.user-block__link {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: @basic-blue;
  background-color: @basic-yellow;
  border-radius: 25px;
  display: block;
  box-sizing: border-box;

  &:hover {
    background-color: @special-yellow-dark;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-block__link--nav {
  width: 270px;
  padding: 11px 5px 9px 5px;
}

.user-block__link--size {
  padding: 9px 5px 6px 5px;
  width: 190px;
}
