.user-section {
  background-color: @basic-dark-navy;
  width: 320px;

  ul {
    list-style: none;
    padding: 0;
  }
}

.user-section__block {
  padding-bottom: 50px;
}

.user-section__list {
  padding-bottom: 14px;
}

.user-section__block-title {
  padding: 68px 29px 54px 25px;

  p {
    font-size: 16px;
    line-height: 22px;
    color: @white;
    margin: 0;
  }
}

.user-section__title {
  padding-bottom: 19px;
}

.user-section__description {
  padding-bottom: 18px;
  font-family: "Bloger Sans Lighter";
}

.user-section__description-bold {
  font-family: "Bloger Sans Bold";
}
