@basic-dark-navy: #192144;
@special-dark-navy: #132576;
@basic-blue: #161C35;
@basic-blue-light: #1D2E5B;
@basic-blue-light-special: rgba(29,46,91,0.7);
@basic-grey-background: #D4D9EB;
@basic-grey-close: #AFB0B5;
@basic-grey-border: #D6D9E6;
@special-dark-blue: #121936;
@special-blue-icon: #101D41;
@special-grey: #444444;
@basic-grey-line: rgba(68, 68, 68, 0.3);
@special-grey-letter: rgba(68,68,68,0.6);
@special-grey-hov: #B2B2B2;
@special-grey-down: #E2E5F1;
@special-grey-modal: #F3F4F8;
@special-grey-footer: #F2F2F2;
@special-grey-line: #E1E3E9;
@special-grey-border: #CBCED9;
@special-grey-background: #EDEFF6;
@special-background-grey: #DFE3F0;
@basic-grey-photo: #D1D7E9;
@basic-grey-border-tags: #AEB4CB;
@basic-grey: #EDEFF6;
@special-icon-grey: #D9D9D9;
@grey-qty-hov: #959BB2;
@black: #000000;
@basic-yellow: #FFD74B;
@basic-orange: #FFA530;
@special-yellow-dark: #FFBD30;
@special-orange: #FF8D30;
@special-orange-dark: #F26926;
@white: #FFFFFF;
@grey: #CCCCCC;
@red: #FF5C23;
