:root {
  --basic-dark-navy: #192144;
  --special-dark-navy: #132576;
  --basic-blue: #161C35;
  --special-dark-blue: #121936;
  --special-grey: #444444;
  --black: #000000;
  --basic-blue-light: #1D2E5B;
  --basic-yellow: #FFD74B;
  --special-yellow-dark: #FFBD30;
  --special-orange: #FF8D30;
  --white: #FFFFFF;
  --grey: #CCCCCC;
}